.den-rozhdeniya-2022-footer{
	background-image: url("../img/footer-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 100px;
	padding-bottom: 121px;
	margin-top: -20px;

	&__copy{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		color: #FFFFFF;
		margin: 0 0 20px;
	}
	&__text{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #1E0C34;
		margin: 0;
	}
	@include r(767){
		background-image: url("../img/footer-bg-mobile.jpg");
		background-size: cover;
		&__copy{
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 20px;
		}
		&__text{
			font-size: 14px;
			line-height: 22px;
			color: #FFFFFF;
		}
	}
}