.den-rozhdeniya-2022-slider{
	overflow: hidden;
	margin-bottom: 83px;
	position: relative;
	&__item{
		display: flex;
		align-items: flex-end;
		gap: 27px;
	}
	&__figure{
		margin: 0;
		flex: 1 0 635px;
	}
	&__content{
		height: 100%;
	}
	&__anons{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 52px;
		color: #121111;
		margin: 0 0 5px;
		padding-right: 40px;
	}
	&__percent{
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 112px;
		line-height: 137px;
		color: #6F2C91;
		margin: 0 0 60px;
	}
	&__btn{
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #F15A22;
		padding: 10px;
		border: none;
		position: relative;
		z-index: 10;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		color: #FFFFFF;
		&:hover{
			opacity: .9;
		}
		span{

		}

	}
	@include r(767){
		margin-bottom: 90px;
		&__item{
			display: block;
		}
		&__figure{
			margin-bottom: 47px;
		}
		&__anons{
			font-size: 28px;
			line-height: 40px;
			margin: 0 0 5px;
			padding-right: 0;
		}
		&__percent{
			font-size: 115px;
			line-height: 140px;
			margin-bottom: 3px;
		}
		.swiper-button-next:after, .swiper-button-prev:after{
			background-size: 100%;
		}
		.swiper-button-next, .swiper-button-prev {
			width: 60px;
			height: 60px;
		}
		.swiper-button-next{
			right: 0;
		}
		.swiper-button-prev {
			left: 0;
		}
	}
}